header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #495f37;
    color: white;
    padding: 5rem 0;
}

#kvar {
    font-size: 3rem;
    font-weight: 700;
}

#av {
    font-weight: 400;
}

#change-budget {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;

    border: 3px solid white;
    border-radius: 10px;
    width: min-content;

    text-transform: capitalize;
    font-size: 1rem;
}

#ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#new-spend-btn {
    margin-top: 2rem;
    font-size: 5rem;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #789373;
    color: white;
}
.categories-wrapper {
    margin-top: 1rem;
    padding: 0 30px;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(198, 198, 198);
    text-align: center;
}

.cate li {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.cate li div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 2;
}

.cate li img {
    height: 50px;
    background-color: #FC8D08;
    border-radius: 50%;
    padding: 5px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 45vh;
    box-sizing: border-box;
    padding: 20px;
}

dialog label {
    display: block;
    margin-bottom: 10px;
}

dialog option {
    margin-right: 10px;
}

dialog button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}