header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #495f37;
    color: white;
    padding: 6rem 0;
}

#kvar {
    font-size: 4rem;
    font-weight: 700;
}

#av {
    font-weight: 400;
}

#change-budget {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;

    border: 3px solid white;
    border-radius: 10px;
    width: min-content;

    text-transform: capitalize;
    font-size: 1rem;
}

.cate {
    text-align: center;
    margin: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 45vh;
    box-sizing: border-box;
    padding: 20px;
}

dialog label {
    display: block;
    margin-bottom: 10px;
}

dialog option {
    margin-right: 10px;
}

dialog button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.expenditure {
    margin: 20px;
}

#general,
#ul {
    list-style: none;
}

#ul li {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    background-color: rgb(195, 195, 195);
    color: black;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
}

#new-spend-btn {
    margin-top: 2rem;
    font-size: 5rem;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #789373;
    color: white;
}







#categories-wrapper {
    margin-top: 1rem;
    padding: 0 30px;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.categories li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.categories li div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 2;
}

.categories li img {
    height: 50px;
    background-color: #FC8D08;
    border-radius: 50%;
    padding: 5px;
}

#expenses-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 50vh;
    padding: 20px;
    flex-direction: column;
}

fieldset {
    border: none;
    margin-bottom: 1em;
}