header {
    height: 30vh;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 1.5rem;
}

#kvar {
    padding-top: 50px;
}

.cate {
    text-align: center;
    margin: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 45vh;
    box-sizing: border-box;
    padding: 20px;
}

dialog label {
    display: block;
    margin-bottom: 10px;
}

dialog option {
    margin-right: 10px;
}

dialog button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.expenditure {
    margin: 20px;
}

#general,
#ul {
    list-style: none;
}

#ul li {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    background-color: rgb(195, 195, 195);
    color: black;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 15px;
}