header {
    background-image: url(/img/places/header.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 31vh;
    position: relative;
    font-size: 1rem;
}

.header-text {
    color: white;
    position: absolute;
    bottom: 0;
    margin: 5px 25px;
    font-weight: 700;
}

.choices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 3rem;
    list-style: none;
}

.choices a {
    text-align: center;
    color: var(--main-text-color);
}

.categories {
    margin-top: 2rem;
}

.choices img {
    background-color: #DADADA;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 30px;
}

#back-btn {
    background-color: white;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    margin: 20px;
}

#no-location {
    position: fixed;
    top: 0;
    
}

