header{
    background-image: url(../temporary-img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    position: relative;
}

.header-text{
    color: white;
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.choices{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.choices a{
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.choices img{
    background-color: brown;
    height: 12vh;
    border-radius: 20px;
    width: 12vh;
}

h3{
    font-size: 1rem;
}
