#price-range {
  background-color: aqua;
  text-align: center;
  padding: 1em;
}

#sort {
  display: flex;
  justify-content: space-between;
}

#list-of-results {
  list-style: none;
  margin-top: 1em;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  background-color: rgb(195, 195, 195);
  color: black;
  padding: 20px;
  margin-bottom: 1em;
  border-radius: 15px;
}

.list-item img {
  height: 50px;
}

h2 {
  font-size: 1rem;
}

.rating {
  background-color: rgb(68, 68, 255);
  color: white;
  width: min-content;
  padding: 0.5rem;
  aspect-ratio: 1/1;
}

.result-extra-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#rubric {
  padding: 10px;
}