#map {
  height: 250px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: var(--margin) 20px;
  margin-top: 20px;
}


#information {
  margin-top: 1em;
}

main::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgb(209, 209, 209);
  margin-bottom: 20px;
}