#map {
  height: 250px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  padding: 20px 0;
  gap: 2em;
  border-bottom: 1px solid rgb(198, 198, 198);
}



h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

#header-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#header-right-side img {
  height: 30px;
}

#header-left-side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#header-left-side h2 {
  font-size: 1rem;
  font-weight: 400;
}

.rating {
  text-align: center;
}

#favorit svg {
  width: 30px;
  height: 30px;
}

#contact {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  border-top: 1px soild;
}

#contact a {
  width: 6em;
  text-align: center;
  padding: 0.6em;
  border-radius: 20px;
  background-color: #FC8D08;
  color: white;
}

#to-budget {
  border-radius: 50px;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1em;
  background-color: #789373;
  color: white;
}

main {
  margin: 15px;
  margin-bottom: 5rem;
}

#info-text-section {
  display: none;
}

main p,
main h2 {
  margin-bottom: 0.5rem;
}

.feedback {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  padding: 1rem 1.5rem;
  z-index: 1000;
  
  background-color: rgb(140, 140, 140);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 15px;
  
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Recommendations */
#recommendations {
  margin: 1rem 15px;
}

.swiper {
  width: 100%;
  margin-bottom: 10rem;
}

.swiper-slide {
  margin-top: 1rem;

}

.swiper-slide a {
  display: block;
  height: fit-content;
  padding: 20px;
  width: 100%;
  color: black;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
}

.swiper-slide h2 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-slide img {
  height: 50px;
}

#star-rating {
  width: 70%;
}