#map {
  height: 250px;
}

header {
  margin: 0 15px;
  padding: 20px 0;
  gap: 2em;
  border-bottom: 1px solid rgb(198, 198, 198);
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

#header-right-side,
#header-left-side {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#header-right-side {
  align-items: center;
}

#header-right-side img {
  height: 30px;
}

#header-left-side h2 {
  font-size: 1rem;
  font-weight: 400;
}

.rating {
  text-align: center;
}

#favorit svg {
  width: 30px;
  height: 30px;
}

#contact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

#contact a {
  width: 100%;
  text-align: center;
  padding: 0.9em;
  border-radius: 10px;
  background-color: var(--gray);
  color: var(--second-text-color);
  font-weight: 600;
}

#contact img {
  height: 28px;
}

#call-btn,
#website-btn {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

#to-budget {
  border-radius: 10px;
  padding: 1.2rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--light-green);
  color: white;
  grid-column: span 2;
}

main {
  margin: 15px;
  margin-bottom: 2rem;
}

#info-text-section {
  display: none;
}

main p,
main h2 {
  margin-bottom: 0.4rem;
}

.feedback {
  display: none;
  align-items: center;
  gap: 0.7rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  padding: 1rem 2rem;
  z-index: 1000;

  background-color: var(--gray);
  color: var(--second-text-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 50px;

  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.feedback img {
  width: 28px;
}

/* Recommendations */
#recommendations {
  margin: 1rem 15px;
  margin-bottom: 6rem;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  margin-top: 1rem;
}

.swiper-slide a {
  display: block;
  height: fit-content;
  padding: 20px;
  width: 100%;
  color: black;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
}

.swiper-slide h2 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-slide img {
  height: 50px;
}

#star-rating {
  width: 70%;
}