@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --margin: 0 30px;
}

main {
  margin: var(--margin);
}

a {
  text-decoration: none;
}

.menu-bar{
  background-color: teal;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.menu-bar a{
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 0.5rem;
  padding-left: 20px;
}

.menu-bar img {
  display: block;
  height: 24px;
  width: 24px;
}