header {
    padding: 0.5em 20px;
}

header h1 {
    font-weight: 500;
}

#wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

#wishlist-items li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 13px;
    padding: 20px;
    padding-left: 0px;
    filter: drop-shadow(0px 2px 2px hsla(0, 0%, 0%, 0.25));
}

#wishlist-items a {
    color: black;
    display: flex;
}

#wishlist-items img {
    width: 30px;
}

#wishlist-items p {
    font-size: 0.9rem;
}

#wishlist-items .des-img {
    width: 80px;
}

